
1024ppi/Asset 1.png
1024ppi/Asset 2.png
1024ppi/Asset 3.png
1024ppi/Asset 4.png
__pycache__/utils.cpython-39.pyc
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_11-46-18.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_12-01-08.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_12-15-12.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_12-29-47.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_12-49-25.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_13-06-05.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_13-35-26.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_14-15-19.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_14-30-53.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_14-44-36.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_16-20-00.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_16-34-01.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_19-27-31.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_19-42-06.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_20-03-33.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_20-18-31.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_20-50-40.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021-2021-04-01_21-11-19.prproj
Adobe Premiere Pro Auto-Save/Scholars Day 2021.prproj
__pycache__/utils.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
__pycache__/utils.cpython-39.pyc
Scholars Day 2021.prproj
Media/University_of_West_Georgia_logo.png
Media/Soul_Music.mp4
Media/Soul_Music.mp3
Media/Scholars Day Poster 2021.jpg
Media/Scholars Day 2021.mp4
Media/Methods.mp4
Media/ISPPIResultsAndConclusion.mp4
Media/ISPPIIntro.mp4
Media/ExperimentalSetup.mp4
Media/DataGeneration.mp4
Media/Abstract.mp4
